<div id="<%= dom_id base_menu %>">
  <p>
    <strong>Title:</strong>
    <%= base_menu.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= base_menu.description %>
  </p>

  <p>
    <strong>Owner:</strong>
    <%= base_menu.owner_id %>
  </p>

</div>
