<h1>Editing base menu</h1>

<%= render "form", base_menu: @base_menu %>

<br>

<div>
  <%= link_to "Show this base menu", @base_menu %> |
  <%= link_to "Back to base menus", base_menus_path %>
</div>
